
* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1 {
  color: black;
  font-size: 1.75em;
  text-align: center;
}


#textbox {
  top:25px; 
  left:10px;
  position: absolute;
  text-align: left;
 
}
#greybox{
	background-color: Grey;
	border: 1px solid black;
	width:100%;
	height:100%;
	text-align: center;	
	position: relative;
 	/*box-sizing: border-box;*/
}
#tagbox1 {
	width:100px;
	height:25px;
	background-color: RosyBrown;
	border: 1px solid black;
	text-align: center;	
	position: absolute;
	top:0px;
	right:0px;

		
}
#tagbox2 {
	width:100px;
	height:25px;
	background-color: Tomato;
	border: 1px solid black;
	text-align: center;
	position: absolute;
	top:0px;
	right:0px;
}
#tagbox3 {
	width:100px;
	height:25px;
	background-color: Beige;
	border: 1px solid black;
	text-align: center;
	position: absolute;
	top:0px;
	right:0px;
}
}
.row {
  width: 100%;
}


@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
   /* border: 1px solid black;
    background-color: lightgray;*/
    height: 200px;
	position: relative;
	padding:10px 10px 10px 10px;
  }
   .col-lg-4 {
    width: 33.33%;
    
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 .col-md-6, .col-md-12 {
    float: left;
   /* border: 1px solid black;
    background-color: lightgray;*/
    height: 200px;
    position: relative;
    padding:10px 10px 10px 10px;
  }
   .col-md-6 {
    width: 50%;
  }
   .col-md-12 {
    width: 100%;
  }
}
/********** small devices only **********/
@media (max-width: 767px) {
	
	.col-sm-12 {
    float: left;
  /*  border: 1px solid black;
    background-color: blue;*/
    height: 200px;
    position: relative;
    padding:10px 10px 10px 10px;
  }
   .col-sm-12 {
    width: 100%;
  }

}